<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular bootstrap alert factory</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Alert demo</h1>
        </div>
    </div>
</div>
<div data-ng-controller="AlertController as vm" class="container ng-cloak">
    <!-- we can't use ng-bind as the close button doesn't show -->
    <div ng-repeat="alert in vm.alerts"  class="alert" ng-class="'alert-' + alert.type" data-close="alert.close()" dismiss-alert-on-timeout="{{ alert.timeout }}">
        <button type="button" class="close ng-cloak" ng-click="alert.close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- use <div ng-bind-html="alert.message"></div> if you wanted to use HTML in your alert.
             Make sure you include ngSanitize in your Angular app -->
        <div ng-bind="alert.message"></div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="../src/alert-factory.js"></script>
<script>
    (function () {
        angular.module('demoApp', ['ibexcore.alert'])
                .controller('AlertController', function (AlertFactory) {
                    var vm = this;
                    vm.alerts = AlertFactory.get();

                    // demo stuff
                    AlertFactory.add('success', "Hey! I don't close automatically", null);
                    AlertFactory.add('danger', "I dont close automatically", null);

                    AlertFactory.add('info', 'I close automatically after 5 seconds', 5000);

                    AlertFactory.add('warning', 'I close automatically after 7 seconds - the default timeout set in the config');
                });
    })();
</script>
</body>
</html>